samples/CodeConverter/Source/CodeFormatServiceClient/Web References/ICSharpCode.CodeFormat/codeformatservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://codeconverter.sharpdevelop.net/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://codeconverter.sharpdevelop.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://codeconverter.sharpdevelop.net/">
      <s:element name="Format">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Document" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="HighlighterName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="IncludeLineNumbers" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FormatResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FormatResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RetrieveAvailableHighlighters">
        <s:complexType />
      </s:element>
      <s:element name="RetrieveAvailableHighlightersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveAvailableHighlightersResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FormatSoapIn">
    <wsdl:part name="parameters" element="tns:Format" />
  </wsdl:message>
  <wsdl:message name="FormatSoapOut">
    <wsdl:part name="parameters" element="tns:FormatResponse" />
  </wsdl:message>
  <wsdl:message name="RetrieveAvailableHighlightersSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveAvailableHighlighters" />
  </wsdl:message>
  <wsdl:message name="RetrieveAvailableHighlightersSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveAvailableHighlightersResponse" />
  </wsdl:message>
  <wsdl:portType name="CodeFormatServiceSoap">
    <wsdl:operation name="Format">
      <wsdl:input message="tns:FormatSoapIn" />
      <wsdl:output message="tns:FormatSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RetrieveAvailableHighlighters">
      <wsdl:input message="tns:RetrieveAvailableHighlightersSoapIn" />
      <wsdl:output message="tns:RetrieveAvailableHighlightersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CodeFormatServiceSoap" type="tns:CodeFormatServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Format">
      <soap:operation soapAction="http://codeconverter.sharpdevelop.net/Format" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAvailableHighlighters">
      <soap:operation soapAction="http://codeconverter.sharpdevelop.net/RetrieveAvailableHighlighters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CodeFormatServiceSoap12" type="tns:CodeFormatServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Format">
      <soap12:operation soapAction="http://codeconverter.sharpdevelop.net/Format" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RetrieveAvailableHighlighters">
      <soap12:operation soapAction="http://codeconverter.sharpdevelop.net/RetrieveAvailableHighlighters" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CodeFormatService">
    <wsdl:port name="CodeFormatServiceSoap" binding="tns:CodeFormatServiceSoap">
      <soap:address location="http://codeconverter.sharpdevelop.net/codeformatservice.asmx" />
    </wsdl:port>
    <wsdl:port name="CodeFormatServiceSoap12" binding="tns:CodeFormatServiceSoap12">
      <soap12:address location="http://codeconverter.sharpdevelop.net/codeformatservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>