data/schemas/AddIn.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Ivo Kovacka (Kovacka) -->
<!--W3C Schema generated by XMLSPY v5 rel. 4 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.icsharpcode.net/2005/addin" xmlns="http://www.icsharpcode.net/2005/addin">
	<xs:complexType name="AddIn">
		<xs:choice maxOccurs="unbounded">
			<xs:element ref="Path" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element ref="Runtime" minOccurs="0" maxOccurs="unbounded"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="author" type="xs:string" use="required"/>
		<xs:attribute name="copyright" type="xs:string" use="required"/>
		<xs:attribute name="url" type="xs:anyURI" use="required"/>
		<xs:attribute name="description" type="xs:string" use="required"/>
		<xs:attribute name="version" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="AddIn" type="AddIn"/>
	<xs:complexType name="Import">
		<xs:attribute name="assembly" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="Import" type="Import"/>
	<xs:complexType name="Runtime">
		<xs:sequence>
			<xs:element ref="Import" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Runtime" type="Runtime"/>
	<xs:complexType name="Path" mixed="true">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element ref="FileFilter"/>
			<xs:element ref="Condition"/>
			<xs:element ref="Icon"/>
			<xs:element ref="DisplayBinding"/>
			<xs:element ref="ToolbarItem"/>
			<xs:element ref="EditAction"/>
			<xs:element ref="DialogPanel"/>
			<xs:element ref="LanguageBinding"/>
			<xs:element ref="Class"/>
			<xs:element ref="MenuItem"/>
			<xs:element ref="SharpQueryConnection"/>
		</xs:choice>
		<xs:attribute name="name" type="xs:string" use="required"/>
	</xs:complexType>
	<xs:element name="Path" type="Path"/>
	<xs:complexType name="Condition">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="activewindow" type="xs:string" use="optional"/>
		<xs:attribute name="openwindow" type="xs:string" use="optional"/>
		<xs:attribute name="iscombineopen" type="xs:string" use="optional"/>
		<xs:attribute name="activeproject" type="xs:string" use="optional"/>
		<xs:attribute name="openproject" type="xs:string" use="optional"/>
		<xs:attribute name="textcontent" type="xs:string" use="optional"/>
		<xs:attribute name="ownerstate" type="xs:string" use="optional"/>
		<xs:attribute name="string" type="xs:string" use="optional"/>
		<xs:attribute name="equals" type="xs:string" use="optional"/>
		<xs:attribute name="action" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Exclude"/>
					<xs:enumeration value="Disable"/>
					<xs:enumeration value="Nothing"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:element name="Condition" type="Condition"/>
	<xs:complexType name="Conditional">
		<xs:complexContent>
			<xs:extension base="Condition">
				<xs:choice maxOccurs="unbounded">
					<xs:element ref="Condition"/>
					<xs:element ref="Conditional"/>
					<xs:element ref="And"/>
					<xs:element ref="Or"/>
					<xs:element ref="Not"/>
					<xs:element ref="Class"/>
					<xs:element ref="DialogPanel"/>
					<xs:element ref="DisplayBinding"/>
					<xs:element ref="LanguageBinding"/>
					<xs:element ref="MenuItem"/>
					<xs:element ref="ToolbarItem"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Conditional" type="Conditional"/>
	<xs:complexType name="Not">
		<xs:choice>
			<xs:element ref="Condition"/>
			<xs:element ref="And"/>
			<xs:element ref="Not"/>
			<xs:element ref="Or"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Not" type="Not"/>
	<xs:complexType name="And">
		<xs:choice minOccurs="2" maxOccurs="unbounded">
			<xs:element ref="Not"/>
			<xs:element ref="Or"/>
			<xs:element ref="And"/>
			<xs:element ref="Condition"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="And" type="And"/>
	<xs:complexType name="Or">
		<xs:choice minOccurs="2" maxOccurs="unbounded">
			<xs:element ref="Not"/>
			<xs:element ref="Or"/>
			<xs:element ref="And"/>
			<xs:element ref="Condition"/>
		</xs:choice>
	</xs:complexType>
	<xs:element name="Or" type="Or"/>
	<xs:complexType name="AbstractCodon" abstract="true">
		<xs:attribute name="id" type="xs:string" use="required"/>
		<xs:attribute name="class" type="xs:string" use="optional"/>
		<xs:attribute name="insertbefore" type="xs:string" use="optional"/>
		<xs:attribute name="insertafter" type="xs:string" use="optional"/>
	</xs:complexType>
	<xs:complexType name="Class">
		<xs:complexContent>
			<xs:extension base="AbstractCodon"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Class" type="Class"/>
	<xs:complexType name="DialogPanel">
		<xs:complexContent>
			<xs:extension base="AbstractCodon">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="Conditional"/>
					<xs:element ref="DialogPanel"/>
					<xs:element ref="Condition"/>
				</xs:choice>
				<xs:attribute name="label" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DialogPanel" type="DialogPanel"/>
	<xs:complexType name="DisplayBinding">
		<xs:complexContent>
			<xs:extension base="AbstractCodon">
				<xs:attribute name="supportedformats" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="DisplayBinding" type="DisplayBinding"/>
	<xs:complexType name="FileFilter">
		<xs:complexContent>
			<xs:extension base="AbstractCodon">
				<xs:attribute name="name" type="xs:string" use="required"/>
				<xs:attribute name="extensions" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="FileFilter" type="FileFilter"/>
	<xs:complexType name="Icon">
		<xs:complexContent>
			<xs:extension base="AbstractCodon">
				<xs:attribute name="extensions" type="xs:string" use="optional"/>
				<xs:attribute name="language" type="xs:string" use="optional"/>
				<xs:attribute name="location" type="xs:string" use="optional"/>
				<xs:attribute name="resource" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Icon" type="Icon"/>
	<xs:complexType name="LanguageBinding">
		<xs:complexContent>
			<xs:extension base="AbstractCodon">
				<xs:attribute name="supportedextensions" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LanguageBinding" type="LanguageBinding"/>
	<xs:complexType name="MenuItem">
		<xs:complexContent>
			<xs:extension base="AbstractCodon">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="Condition"/>
					<xs:element ref="MenuItem"/>
					<xs:element ref="Conditional"/>
				</xs:choice>
				<xs:attribute name="label" type="xs:string" use="required"/>
				<xs:attribute name="description" type="xs:string" use="optional"/>
				<xs:attribute name="icon" type="xs:string" use="optional"/>
				<xs:attribute name="shortcut" type="xs:string" use="optional"/>
				<xs:attribute name="attribute" use="optional">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="RecentFiles"/>
							<xs:enumeration value="RecentProjects"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
				<xs:attribute name="link" type="xs:anyURI" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MenuItem" type="MenuItem"/>
	<xs:complexType name="SharpQueryConnection">
		<xs:complexContent>
			<xs:extension base="AbstractCodon">
				<xs:attribute name="schema" type="xs:string" use="required"/>
				<xs:attribute name="node" type="xs:string" use="required"/>
				<xs:attribute name="showUnsuported" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SharpQueryConnection" type="SharpQueryConnection"/>
	<xs:complexType name="ToolbarItem">
		<xs:complexContent>
			<xs:extension base="AbstractCodon">
				<xs:choice minOccurs="0" maxOccurs="unbounded">
					<xs:element ref="Condition"/>
					<xs:element ref="ToolbarItem"/>
					<xs:element ref="Conditional"/>
				</xs:choice>
				<xs:attribute name="icon" type="xs:string" use="optional"/>
				<xs:attribute name="tooltip" type="xs:string" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ToolbarItem" type="ToolbarItem"/>
	<xs:complexType name="EditAction">
		<xs:complexContent>
			<xs:extension base="AbstractCodon">
				<xs:attribute name="keys" type="xs:string" use="required"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EditAction" type="EditAction"/>
</xs:schema>

