data/schemas/difxapp.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:html="http://www.w3.org/1999/xhtml" xmlns:wix="http://schemas.microsoft.com/wix/2006/wi" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xse="http://schemas.microsoft.com/wix/2005/XmlSchemaExtension" targetNamespace="http://schemas.microsoft.com/wix/DifxAppExtension" xmlns="http://schemas.microsoft.com/wix/DifxAppExtension"><xs:import namespace="http://schemas.microsoft.com/wix/2006/wi" /><xs:element name="Driver"><xs:complexType><xs:attribute name="AddRemovePrograms" type="YesNoType" /><xs:attribute name="DeleteFiles" type="YesNoType" /><xs:attribute name="ForceInstall" type="YesNoType" /><xs:attribute name="Legacy" type="YesNoType" /><xs:attribute name="PlugAndPlayPrompt" type="YesNoType" /><xs:attribute name="Sequence" type="xs:integer" /></xs:complexType></xs:element><xs:simpleType name="YesNoType"><xs:restriction base="xs:NMTOKEN"><xs:enumeration value="no" /><xs:enumeration value="yes" /></xs:restriction></xs:simpleType></xs:schema>