data/schemas/netfx.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xse="http://schemas.microsoft.com/wix/2005/XmlSchemaExtension" xmlns:html="http://www.w3.org/1999/xhtml" targetNamespace="http://schemas.microsoft.com/wix/NetFxExtension" xmlns="http://schemas.microsoft.com/wix/NetFxExtension"><xs:element name="NativeImage"><xs:complexType><xs:attribute name="Id" type="xs:string" use="required" /><xs:attribute name="AppBaseDirectory" type="xs:string" /><xs:attribute name="AssemblyApplication" type="xs:string" /><xs:attribute name="Debug" type="YesNoType" /><xs:attribute name="Dependencies" type="YesNoType" /><xs:attribute name="Platform"><xs:simpleType><xs:restriction base="xs:NMTOKEN"><xs:enumeration value="32bit" /><xs:enumeration value="64bit" /><xs:enumeration value="all" /></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="Priority"><xs:simpleType><xs:restriction base="xs:NMTOKEN"><xs:enumeration value="0" /><xs:enumeration value="1" /><xs:enumeration value="2" /><xs:enumeration value="3" /></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="Profile" type="YesNoType" /></xs:complexType></xs:element><xs:simpleType name="YesNoType"><xs:restriction base="xs:NMTOKEN"><xs:enumeration value="no" /><xs:enumeration value="yes" /></xs:restriction></xs:simpleType></xs:schema>