data/schemas/ps.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xse="http://schemas.microsoft.com/wix/2005/XmlSchemaExtension" xmlns:html="http://www.w3.org/1999/xhtml" xmlns:wix="http://schemas.microsoft.com/wix/2006/wi" targetNamespace="http://schemas.microsoft.com/wix/PSExtension" xmlns="http://schemas.microsoft.com/wix/PSExtension"><xs:import namespace="http://schemas.microsoft.com/wix/2006/wi" /><xs:element name="FormatsFile"><xs:complexType><xs:attribute name="FileId" type="xs:string" /><xs:attribute name="SnapIn" type="xs:string" /></xs:complexType></xs:element><xs:element name="TypesFile"><xs:complexType><xs:attribute name="FileId" type="xs:string" /><xs:attribute name="SnapIn" type="xs:string" /></xs:complexType></xs:element><xs:element name="SnapIn"><xs:complexType><xs:choice minOccurs="0" maxOccurs="unbounded"><xs:element ref="FormatsFile" /><xs:element ref="TypesFile" /></xs:choice><xs:attribute name="Id" type="xs:string" use="required" /><xs:attribute name="AssemblyName" type="xs:string" /><xs:attribute name="CustomSnapInType" type="xs:string" /><xs:attribute name="Description" type="xs:string" /><xs:attribute name="DescriptionIndirect" type="EmbeddedResource" /><xs:attribute name="RequiredPowerShellVersion" type="VersionType" /><xs:attribute name="Vendor" type="xs:string" /><xs:attribute name="VendorIndirect" type="EmbeddedResource" /><xs:attribute name="Version" type="VersionType" /></xs:complexType></xs:element><xs:attribute name="RequiredVersion" type="xs:string" /><xs:simpleType name="EmbeddedResource"><xs:restriction base="xs:string" /></xs:simpleType><xs:simpleType name="VersionType"><xs:restriction base="xs:string"><xs:pattern value="\d{1,5}(\.\d{1,5}){0,3}" /></xs:restriction></xs:simpleType></xs:schema>