data/schemas/wixloc.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xse="http://schemas.microsoft.com/wix/2005/XmlSchemaExtension" xmlns:html="http://www.w3.org/1999/xhtml" targetNamespace="http://schemas.microsoft.com/wix/2006/localization" xmlns="http://schemas.microsoft.com/wix/2006/localization"><xs:element name="WixLocalization"><xs:complexType><xs:sequence minOccurs="0" maxOccurs="unbounded"><xs:element ref="String" /></xs:sequence><xs:attribute name="Codepage" type="xs:string" /><xs:attribute name="Culture" type="xs:string" use="required" /></xs:complexType></xs:element><xs:element name="String"><xs:complexType mixed="true"><xs:attribute name="Id" type="xs:string" use="required" /><xs:attribute name="Overridable" type="LocalizationYesNoType" /><xs:attribute name="Localizable" type="LocalizationYesNoType" /></xs:complexType></xs:element><xs:simpleType name="LocalizationYesNoType"><xs:restriction base="xs:NMTOKEN"><xs:enumeration value="no" /><xs:enumeration value="yes" /></xs:restriction></xs:simpleType></xs:schema>