samples/CodeConverter/Source/CCClient/Web References/ICSharpCode.OnlineConverter/ConvertService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://developer.sharpdevelop.net/CodeConverter.NET/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://developer.sharpdevelop.net/CodeConverter.NET/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://developer.sharpdevelop.net/CodeConverter.NET/">
      <s:element name="PerformConversion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TypeOfConversion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SourceCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PerformConversionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PerformConversionResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="ConvertedCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ErrorMessage" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PerformConversionSoapIn">
    <wsdl:part name="parameters" element="tns:PerformConversion" />
  </wsdl:message>
  <wsdl:message name="PerformConversionSoapOut">
    <wsdl:part name="parameters" element="tns:PerformConversionResponse" />
  </wsdl:message>
  <wsdl:portType name="ConvertServiceSoap">
    <wsdl:operation name="PerformConversion">
      <wsdl:input message="tns:PerformConversionSoapIn" />
      <wsdl:output message="tns:PerformConversionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConvertServiceSoap" type="tns:ConvertServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformConversion">
      <soap:operation soapAction="http://developer.sharpdevelop.net/CodeConverter.NET/PerformConversion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConvertServiceSoap12" type="tns:ConvertServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PerformConversion">
      <soap12:operation soapAction="http://developer.sharpdevelop.net/CodeConverter.NET/PerformConversion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConvertService">
    <wsdl:port name="ConvertServiceSoap" binding="tns:ConvertServiceSoap">
      <soap:address location="http://codeconverter.sharpdevelop.net/ConvertService.asmx" />
    </wsdl:port>
    <wsdl:port name="ConvertServiceSoap12" binding="tns:ConvertServiceSoap12">
      <soap12:address location="http://codeconverter.sharpdevelop.net/ConvertService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>